<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Complete Blog</title>
</head>
<body>
    <%- include("components/header.ejs") %>
    
    <h1 class="text-4xl text-semibold text-center">Articles</h1>
    <main class="container-layout my-8 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5">
        <% if(locals.posts){ %>
                <% posts.map((item) =>{ %>
                    <a href="posts/<%= item.slug %>" class=" flex p-4 gap-4 items-center justify-between bg-slate-300 shadow-lg rounded-lg">
                       <div class="flex flex-col justify-between max-w-[60%]">
                            <p class="bg-slate-500 text-slate-200 text-xs px-2 py-1 rounded-lg max-w-max mb-5"><%= item.category %></p> 
                            <div class="text-slate-800 font-medium text-3xl"><%= item.title %></div> 
                       </div>
                       <div>
                         <img class="rounded-full object-cover h-[60px] w-[60px]" src="<%= item.photo %>" alt="">
                       </div>
                    </a>
               <% }) %>
        <% } %>
    </main>
</body>
</html>